.background-color{
    background:#DCDCDC;
}

.border_style{
    border-bottom:2px solid black;
}

.margin_button{
    margin-left: 30%; 
    width:110%;
}

.compte_courrant{
    margin-top: 7%;
    text-align: center;

}

.compte_depot{
    border-radius: 10px; 
    border: solid;
    background-color:lightblue;
}

.margin_button_all_operation{
    margin-top:5%;
    margin-bottom:2%;
    margin-left:80%;
}

.transfer_button{
    margin-top:5%;
    width: 20%;
}

.margin_deconnexion{
    margin-right: 10%; width:100%
}
.green_amount{
      color:green;
  }
.red_amount{
    color:red;
}