<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" type="text/css" rel="stylesheet" id="bootstrap-css" />
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<!------ Include the above in your HEAD tag ---------->
<body class="background_color">
<center>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                   Désolé il y a eu une erreur !
                </div>
                <div class="error-actions">
                    <a th:href="@{/accueil}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Revenir à l'accueil </a>
                </div>
            </div>
        </div>
    </div>
</div>
</center>
</body>
</html>

