<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:c="http://www.w3.org/1999/XSL/Transform">

<head>
  <title>Coffee Machine Store | Magasin</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link th:href="@{/css/home.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/webjars/mdbootstrap-bootstrap-material-design/4.8.8/css/mdb.min.css}" rel="stylesheet" type="text/css" />
</head>

<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark blue-grey scrolling-navbar">
    <a class="navbar-brand col-10" href="#"><strong>Coffee Machine Store</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a sec:authorize="isAuthenticated()" href="#" th:href="@{/deconnexion}" class="btn btn-sm btn-primary"> <i class="fa fa-sign-out"></i> Déconnexion </a>
  </nav>
</header>



<!--Main layout-->
<main class="mt-5 pt-5">


  <div class="container">

    <!--Section: Jumbotron-->
    <section class="card aqua-gradient wow fadeIn" id="intro">

      <!-- Content -->
      <div class="card-body text-white text-center py-5 px-5 my-5">

        <h1 class="mb-4">
          <strong>Des machines pour tout les goûts</strong>
        </h1>
        <p>
          <strong>Coffe machine store, le meilleur de la machine à café</strong>
        </p>
        <p class="mb-4">
          <strong>Découvrez dans ce magasin nos machines à café d'exceptions. Elles vous procureront le meilleur du goût du café. Ces dernières s'adapterons à tous les styles d'interieur de votre habitat.</strong>
        </p>


      </div>
      <!-- Content -->

    </section>
    <!--Section: Jumbotron-->




    <hr class="my-5">

    <!--Section: Cards-->
    <section class="text-center">
      <!--Grid column-->
      <div th:each="product : ${products}" class="col-md-6 mb-4">
        <!--Card-->
        <div class="card">
          <!--Card image-->
          <div class="view overlay">
            <img th:src="@{${'/img/' + product.wording + '.jpg'}}" class="card-img-top"
                 alt="">
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title" th:text="${product.wording}"></h4>
            <!--Text-->
            <p class="card-text" th:text="${product.description}"></p>
            <p class="card-text" th:text="${product.description}"></p>
            <a data-toggle="modal"  data-target="#modal-buy"  th:attr="data-target='#modal-buy'+${product.id }"
               class="btn btn-primary btn-md" th:text="${'Acheter à ' + product.price + '€'}">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </div>
        </div>
        <!--/.Card-->

        <!-- Modal -->
        <div class="modal fade" th:id="modal-buy+${product.id }" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation du paiement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p th:text="${'Etes vous sûr de vouloir acheter cette cafetière('+ product.wording +') à ' + product.price + '€'}"></p>
                <div class="form-group">
                  <label th:for="numAccount+${product.id }"></label>
                  <input th:id="numAccount+${product.id }" type="text" class="form-control" placeholder="Entrez votre numéro de compte bancaire">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button th:attr="data-id=${product.id},data-price=${product.price}" type="button" class="validateModal btn btn-primary">Valider <i class="fa fa-credit-card"></i></button>
                <button th:attr="data-id=${product.id},data-price=${product.price}" type="button" class="refundModal btn btn-warning">Remboursement <i class="fa fa-credit-card"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!--/ Modal -->

      </div>

    </section>
    <!--Section: Cards-->

  </div>

</main>


<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">



  <hr class="my-4">
  <center>
    <h4> <a href="#top">Revenir en haut | Coffee Machine Store #CMS </a></h4>
  </center>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2020 NTR
    <p> Pierre Candelier, Rémy Halipré</p>
  </div>
  <!--/.Copyright-->

</footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery.soap/jquery.soap.js}"></script>

<script>
  $(document).ready(function(){
    var divs = $("section:eq(1) > div");
    for(var i = 0; i < divs.length; i+=2) {
      divs.slice(i, i+2).wrapAll(`<div style="display:flex"></div>`);
    }
  });

  $('#exampleModal').on('shown.bs.modal', function () {
    $('#valider').trigger('focus')
  });

  $('.validateModal').click(function() {
    var id = $(this).data("id");
    var numAccount = $("#numAccount"+id).val();
    var price = $(this).data("price");
    console.log('numAccount', numAccount);
    console.log('price', price);
    var soapBody = '<soapenv:Envelope \n' +
            '   xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" \n' +
            '   xmlns:ws="http://controller.application.com/">\n' +
            ' <soapenv:Header/>\n' +
            ' <soapenv:Body>\n' +
            '    <ws:debit>\n' +
            '       <arg0>'+numAccount+'</arg0>\n' +
            '       <arg1>'+price+'</arg1>\n' +
            '    </ws:debit>\n' +
            ' </soapenv:Body>\n' +
            '</soapenv:Envelope>';

    $.soap({
      type: "POST",
      url: 'http://localhost:8080/ntr-widfly/operation',
      contentType: "text/xml",
      dataType: "xml",
      data: soapBody,
      success: function (soapResponse) {
        var msg = $(soapResponse.toXML()).find('return').text();
        var element = $('#modal-buy'+id+' > .modal-dialog > .modal-content > .modal-body ');
        if(msg === "Le produit a ete achete") {
          element.append( " <div id='error' class=\"alert alert-success\" role=\"alert\">" + msg + "</div>" );
        } else {
          element.append( " <div id='error' class=\"alert alert-danger\" role=\"alert\">" + msg + "</div>" );
        }
        setTimeout(function(){
          $("#error").remove()
        }, 4000);
      },
      error: function (SOAPResponse) {
        $('#errorModal').modal('show');
      }
    });
  });

  $('.refundModal').click(function() {
    var id = $(this).data("id");
    var numAccount = $("#numAccount"+id).val();
    var price = $(this).data("price");
    console.log('numAccount', numAccount);
    console.log('price', price);
    var soapBody = '<soapenv:Envelope \n' +
            '   xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" \n' +
            '   xmlns:ws="http://controller.application.com/">\n' +
            ' <soapenv:Header/>\n' +
            ' <soapenv:Body>\n' +
            '    <ws:credit>\n' +
            '       <arg0>'+numAccount+'</arg0>\n' +
            '       <arg1>'+price+'</arg1>\n' +
            '    </ws:credit>\n' +
            ' </soapenv:Body>\n' +
            '</soapenv:Envelope>';

    $.soap({
      type: "POST",
      url: 'http://localhost:8080/ntr-widfly/operation',
      contentType: "text/xml",
      dataType: "xml",
      data: soapBody,
      success: function (soapResponse) {
        var msg = $(soapResponse.toXML()).find('return').text();
        var element = $('#modal-buy'+id+' > .modal-dialog > .modal-content > .modal-body ');
        if(msg === "Le produit a ete rembourse") {
          element.append( " <div id='error' class=\"alert alert-success\" role=\"alert\">" + msg + "</div>" );
        } else {
          element.append( " <div id='error' class=\"alert alert-danger\" role=\"alert\">" + msg + "</div>" );
        }
        setTimeout(function(){
          $("#error").remove()
        }, 4000);
      },
      error: function (SOAPResponse) {
        $('#errorModal').modal('show');
      }
    });
  });
</script>

